//colors
$orange-text: #FE5B18;
$gray-text: #B2ADAA;
$default-black: #000000;
$white-text: #ffffff;


//fonts
$h1:700 32px/40px Inter, sans-serif;
$h2:700 20px/30px Inter, sans-serif;
$p-regular: 400 14px/20px Inter, sans-serif;
$center-position-text: center;

